@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Quattrocento&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: 242, 242, 242;
    --body-color: #665f51;
    --heading-color: #231f18;
    --subheading-color: #665f51;
    --contrast-color: #979084;
}



body {
    padding-left: 4em;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif;
    font-family: 'Quattrocento', serif;
    /* background-image: linear-gradient(45deg, rgb(255, 255, 255) 0%, transparent 36%), repeating-linear-gradient(135deg, rgba(197, 197, 197, 0.1) 0px, rgba(197, 197, 197, 0.1) 1px, transparent 1px, transparent 11px), repeating-linear-gradient(45deg, rgba(197, 197, 197, 0.1) 0px, rgba(197, 197, 197, 0.1) 1px, transparent 1px, transparent 11px), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255)); */
    background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1315&q=80");
    color: var(--body-color);
}



/* main{
    background-color: rgba(var(--light-color), 0.5);
} */

/* header h1, nav, nav a{
    color: var(--light-color);
} */

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif;
    font-family: 'Quattrocento', serif;
    color: var(--heading-color);
    font-weight: 900;
}

h1 {
    color: var(--heading-color);
    font-weight: 900;
    font-size: 50px;
}

h2,
h3 {
    color: var(--subheading-color);
}

a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
    text-decoration-color: var(--heading-color);
}

body#about img {
    height: 15em;
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head head"
        "nav  nav"
        "main  main"
        "foot foot";
    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head head"
            "nav  nav"
            "main main"
            "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body>header {
    grid-area: head;

}

body>nav {
    grid-area: nav;
    /* border-bottom: 2px solid var(--subheading-color); */

}

body>nav ul {
    list-style-type: none;
    padding: 0;
}

body>nav ul li {
    display: inline-block;
    margin-right: 10px;
}




body>main {
    grid-area: main;

}

body>footer {
    grid-area: foot;

}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header {
    padding-bottom: 0;
}

header h1,
footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

/* @media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
} */

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}


.avatar {
    float: left;
    margin-top: 1em;
    margin-bottom: 4em;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
}

.projectImg {
    width: 500px;
}

.projectCard {
    box-sizing: border-box;
    width: 700px;
    height: 700px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    /* text-align: center; */
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.projectCard:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.projectCard:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.projectCard>p {
    margin-left: var(--horizontal-space);
}


#container {
  /* width: 400px;
  height: 400px; */
  position: relative;
  opacity: 0%;
  /* background: yellow; */
}
#animate {
  /* width: 50px;
  height: 50px; */
  position: absolute;
  /* background: red; */
}